/* Fonts */
$base-fonts: 'Libre Franklin', sans-serif;
$font-normal: 400;
$font-bold: 600;
$font-black: 900;


/* Colors */
$light-purple: #847FAC;
$purple: #4236AC;
$dark-blue: #171059;
$purple-gray: #403D59;
$dark-gray: #252434;

