.rc-calendar-full{
	width: calc(100% - 20px);
	font-size: 16px;
}
.rc-calendar-date{
	height: 50px;
	border-radius: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}
.rc-calendar-date span.data{
	font-size: 30px;
  letter-spacing: -30px;
  font-weight: bold;
}